.cart-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: var(--button-border-radius);
    background-color: transparent;
    border-color: var(--color-accent);
    color: var(--color-button);
    width: 150px;
    height: 50px;
    transition: all 0.2s ease;

    &:hover {
        border-color: transparent;
        background-color: var(--color-button-background--hover);
    }

    .items-counter {
        border-radius: 50px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-color: red;
        color: #fff;
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }
}