.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--menu-item-box-shadow);
    padding: 1rem 2rem;

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        h2 {
            color: #000000;
            margin: 0;
        }
    }
}