.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 3px 52px -28px rgba(66, 68, 90, 1);
    padding: 1rem 2rem;

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        h2 {
            color: #000000;
            margin: 0;
        }
    }
}