.card {
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-border-radius);
    padding: 2rem;
    min-width: 540px;
    background-color: var(--color-background-light);

    h1 {
        margin: 0;
        font-size: 2.5rem;
    }
}